@model List<Admin>
@using WebApp.Models

@{
    ViewData["Title"] = "Admin Ana Sayfa";
}

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Admin Id</th>
            <th scope="col">Admin Ad </th>
            <th scope="col">Admin Şifre</th>
           
        </tr>
    </thead>
    <tbody ">
        @for (int i=0 ; i< Model.Count;i++)
        {
            <tr >
                <th scope="row">@Model[i].AdminId</th>
                <td>@Model[i].AdminName</td>
                <td>@Model[i].AdminSifre</td>
            </tr>
        }
        
    </tbody>
</table>
